<div class="courses-page">
  <!-- Formulaire d'ajout de cours -->
  <!-- <form #courseForm="ngForm" (ngSubmit)="addCourse(courseForm.value, courseForm)" class="courses-form">
    <input type="text" name="name" ngModel placeholder="Nom du cours" required>
    <input type="text" name="description" ngModel placeholder="Description" required>
    <input type="number" name="duration" ngModel placeholder="Durée (en heures)" required>
    <button type="submit">Ajouter le cours</button>
  </form> -->
  <h1>Nos Cours</h1>
  <!-- Afficher les cartes -->
  <div class="courses-list">
    <app-courses-card *ngFor="let course of courses; let i = index" [isNew]="isNewCourse(course.id)" [course]="course"></app-courses-card>
  </div>
</div>
