.course-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #F9F9F9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
}

.course-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.course-info {
  text-align: center;
}

.course-info h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #007BFF;
}

.course-info p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #333;
}

.course-info span {
  font-size: 1em;
  color: #555;
}
